.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  box-shadow: 0 11px 34px 0 rgba(0, 0, 0, .2);
  border-radius: 34px;
  background-color: #fff;
  backdrop-filter: blur(10px);
  width: 650px;
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__button {
  margin-left: auto;
  padding: 15px;
  font-size: 25px;
  cursor: pointer;
  border: none;
  border-radius: 7px;
  background-color: #fff;
  color: #494949;
  transition: all .3s linear;
}

.modal__button:hover {
  color: #494949dd;
}

.modal__title {
  font-weight: 500;
  color: #566885;
  margin: 20px 0 70px 0;
}

.modal__form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.modal__input {
 min-height: 30px;
 border: 1px solid #566885;
 border-radius: 7px;
 color: #566885;
 outline: none;
 margin-bottom: 10px;
}

.modal__button-form {
  padding: 5px;
  width: 30%;
  cursor: pointer;
  align-self: flex-end;
  cursor: pointer;
  border: 1px solid #566885;
  border-radius: 7px;
  background-color: #FFF;
  color: #566885;
}

