.disk {
  margin-top: 30px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.disk__drop {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  flex: 1;
  border: 1px solid #566885;
  color: #566885
  
}
.disk__tools {
  display: flex;
}

.disk__form {
  display: flex;
}

.disk__button {
  border: 1px solid #566885;
  border-radius: 15px;
  padding: 9px 8px;
  cursor: pointer;
  margin-right: 10px;
  color: #566885;
}

.disk__info {
  display: grid;
  grid-template-columns: 1fr 4fr repeat(4, 1fr);
  margin-top: 30px;
  border-bottom: 2px solid #566885;
  color: #566885;
}


.disk__date {
  grid-column-start: 5;
}

.disk__size {
  grid-column-start: 6;
}

.disk__text {
  text-align: center;
}