
.file {
  display: grid;
  grid-template-columns: 1fr 4fr repeat(4, 1fr);
  margin-top: 30px;
  border-bottom: 2px solid var(--blue-color);
  color: var(--blue-color);
  transition: transform 0.2s linear;
  cursor: pointer;
}

.file-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  border: 1px solid var(--blue-color);
  border-radius: 15px;
  gap: 30px;
}

.file-grid__info {
  width: 100%;
  display: flex;
  align-items: center;
}

.file-grid__info .file__download {
  margin-left: 30px;
}

.file__size {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column-start: 6;
}




.file__date {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column-start: 5;
}

.file__delete {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  grid-column-start: 4;
}

.file__delete img {
  height: 22px;
  filter: invert(39%) sepia(11%) saturate(1119%) hue-rotate(178deg) brightness(98%) contrast(91%);
  transition: transform 0.2s linear;
}

.file__delete img:hover {
  transform: scale(1.2);
  filter: invert(49%) sepia(29%) saturate(2075%) hue-rotate(34deg) brightness(101%) contrast(98%);
}


.file__download {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  grid-column-start: 3;
}

.file__download img {
  height: 22px;
  filter: invert(39%) sepia(11%) saturate(1119%) hue-rotate(178deg) brightness(98%) contrast(91%);
  transition: transform 0.2s linear;
}

.file__download img:hover {
  transform: scale(1.2);
  filter: invert(49%) sepia(29%) saturate(2075%) hue-rotate(34deg) brightness(101%) contrast(98%);
}


.file__text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
}

.file__text p {
  max-width: 100px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.3s linear;
}

.file__text p:hover {
  max-width: 300px;
  text-overflow: clip;
  overflow: visible;
}

.file__text img {
  margin-right: 10px;
}

.file:hover {
  transform: scale(1.01);
}

.file__text_grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.file__text_grid img {
  height: 220px;
}

.file__text_grid {
  text-align: center;
}

.file__size_grid {
  margin-right: 30px;
  margin-left: auto;
}

.file__delete_grid {
  margin-left: 30px;
}