.navbar {
  padding-top: 20px;
  background-color: #fff;
  width: 100%;
  
}

.navbar__logo {
  width: 180px;
}

.container {
  margin: 0 50px;
  padding: 8px 0;
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1140px;
}

.nav {
  flex: 1;
}

.nav__list {
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 27px;
}

.nav__item {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__item:first-of-type {
  margin-right: auto;
}

.nav__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #6880a5;
  transition: color 0.2s linear;
}

.nav__link_active {
  color: #86a5d5;
}

.nav__link:hover {
  color: #86a5d5;
}

.nav__item button {
  border: none;
  border-radius: 15px;
  padding: 5px 8px;
  cursor: pointer;
  margin-right: 10px;
  background-color: inherit;
  color: #6880a5;
  transition: color 0.2s linear;
}

.nav__item button:hover {
  color: #86a5d5;
}

.nav__search {
  outline: none;
  background-color: inherit;
  border-radius: 12px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #494949;
  padding: 5px;
  border: 1px solid #d6d6d6;
}